html, body
{
   height: 100%;
}
div#space
{
   width: 1px;
   height: 50%;
   margin-bottom: -200px;
   float:left
}
div#container
{
   width: 300px;
   height: 400px;
   margin: 0 auto;
   position: relative;
   clear: left;
}
body
{
   background-color: #FFFFFF;
   color: #000000;
   font-family: Arial;
   font-size: 13px;
   margin: 0;
   padding: 0;
}
#wb_Text4 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text4 div
{
   text-align: center;
}
#wb_Text38 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text38 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_Text1 
{
   background-color: transparent;
   border: 0px #000000 solid;
   padding: 0;
   margin: 0;
   text-align: center;
}
#wb_Text1 div
{
   text-align: center;
   white-space: nowrap;
}
#wb_uid1
{
   line-height: 31px;
}
#wb_Text1
{
   position: absolute;
   left: 20px;
   top: 194px;
   width: 261px;
   height: 130px;
   text-align: center;
   z-index: 2;
}
#wb_uid2
{
   color: #1E1E1E;
   font-family: Trebuchet MS;
   font-size: 20px;
}
#wb_uid3
{
   color: #1E1E1E;
   font-family: Trebuchet MS;
   font-size: 20px;
}
#wb_uid4
{
   color: #1E1E1E;
   font-family: Trebuchet MS;
   font-size: 21px;
}
#wb_uid5
{
   color: #1E1E1E;
   font-family: Trebuchet MS;
   font-size: 24px;
}
#wb_Text4
{
   position: absolute;
   left: 21px;
   top: 25px;
   width: 258px;
   height: 61px;
   text-align: center;
   z-index: 0;
}
#wb_uid6
{
   line-height: 37px;
}
#wb_uid7
{
   color: #1E1E1E;
   font-family: Trebuchet MS;
   font-size: 21px;
}
#wb_uid8
{
   line-height: 26px;
}
#wb_uid9
{
   color: #1E1E1E;
   font-family: Trebuchet MS;
   font-size: 21px;
}
#wb_Text38
{
   position: absolute;
   left: 11px;
   top: 102px;
   width: 279px;
   height: 57px;
   text-align: center;
   z-index: 1;
}
#wb_uid0
{
   color: #DC143C;
   font-family: Trebuchet MS;
   font-size: 48px;
}
